# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
/ios
/android

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# env / secrets
.env*.local
.env
*.pem
*.p8
*.p12
*.key
*.mobileprovision
google-services.json
GoogleService-Info.plist

# eas
eas.json.local

# local build artifacts
artifacts/
